// Lato Font
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

// CV-icons
@font-face {
  font-family: 'cv-icons';
  src:url('fonts/cv-icons.eot?3i6qau');
  src:url('fonts/cv-icons.eot?#iefix3i6qau') format('embedded-opentype'),
    url('fonts/cv-icons.woff?3i6qau') format('woff'),
    url('fonts/cv-icons.ttf?3i6qau') format('truetype'),
    url('fonts/cv-icons.svg?3i6qau#cv-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'cv-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e600";
}
.icon-file:before {
  content: "\e601";
}
.icon-github:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}

body {
  font-family: 'Lato', Arial;
  font-size: 16px;
  background: url(/images/squared_metal.png);
}

figure {
  margin: 0;
}

h1 {
  margin-top: 8px;
  font-weight: 900;
  color: white;
  line-height: 34px;
  font-size: 37px;

  @include breakpoint(959px) {
    line-height: 38px;
    font-size: 30px;
  }

  @include breakpoint(479px) {
    text-align: center;
  }
}

h3 {
  margin-top: 5px;
  font-size: 18px;
  color: #FFF;
  line-height: 18px;

  @include breakpoint(959px) {
    font-size: 14px;
    line-height: 14px;
  }

  @include breakpoint(479px) {
    text-align: center;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {
    background: url(../images/squared_metal_@2x.png);
  }

}
