#profile {
  background-color: $main-color;

  @include clearfix;

  .about {
    width: em(490);
    float: left;
    margin: em(30) 0 0 em(20);

    @include breakpoint(767px) {
      width: em(420);
      display: block;
    }

    @include breakpoint(479px) {
      width: em(280);
      margin: em(10) 0 em(15) em(10);
    }
  }

  .photo-inner {
    float: left;
    width: em(192);
    height: em(212);
    padding: em(12) 0 0 em(20);

    background: url(../images/photo-frame.png) no-repeat;

    @include breakpoint(479px) {
      margin: em(12) 0 0 em(41);
    }
  }

  p {
    margin-top: 15px;
    font-size: 14px;
    color: $profile-text-color;
    font-weight: 400;
    line-height: 20px;

    @include breakpoint(479px) {
      text-align: center;
    }
  }

  .personal-info {
    float: left;
    margin-top: em(30);
    width: em(310);
    min-height: em(230);
    margin-left: em(10);
    background: url(../images/vertical-separator.png) no-repeat left top;
    padding: em(20) 0 0 em(20);

    @include breakpoint(959px) {
      width: em(280);
      margin-right: em(10);
      background: none;
    }

    @include breakpoint(767px) {
      margin-top: 0;
      display: block;
      width: em(420);
    }

    @include breakpoint(479px) {
      width: em(280);
      margin-left: em(10);
      min-height: em(220);
      padding-left: 0;
    }
  }

  .personal-info li {
    font-size: 14px;
    margin-bottom: em(10);
    overflow: hidden;

    @include breakpoint(479px) {
      font-size: 13px;
    }
  }

  .personal-info label {
    color: darken($profile-text-color, 10);
    float: left;
    padding: 4px 7px;
    font-weight: 600;
    @include border-radius(3);
  }

  .personal-info span {
    float: right;
    width: em(220);
    padding-top: 4px;
    font-weight: 300;
    color: $profile-text-color;
  }
}

.menu {
  height: 100px;
  background-color: #ededed;
}

.menu ul {
  width: 600px;
}


.tabs {
  height: em(116);
  margin-top: -14px;
  z-index: 100;
  position: absolute;
}

.tabs li {
  float: left;
  height: em(116);
}

.tabs li > a {
  width: em(115);
  padding-top: 28px;
  display: inline-block;

  background-repeat: no-repeat;

  font-size: 16px;
  color: #b9b9b9;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

.tabs li.active {
  background: url('../images/tab-hover.png') no-repeat;
}

.tabs li.active a {
  color: $main-color;
}

.tabs li > a > i {
  font-size: 45px;
  speak: none;
  display: block;
  margin-bottom: 5px;
}

.disabled {
  display: none !important;
}
#resume {
  padding: 40px 20px;
  overflow: hidden;
}

h3.main-heading {
  margin: 0px 2px 20px 0px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 14px;
  color: #333;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  clear: both;
  position: relative;
}

.skills-section, .timeline-section {
  float: left;
}

.timeline-section {
  width: 490px;
  padding-right: 60px;
}

.timeline {
  margin-bottom: 30px;
}
.timeline ul {
  margin-top: 20px;
  padding-left: 15px;

  list-style-type: circle;
}

.timeline li {
  margin-bottom: 20px;
}

.timeline li .timeline-unit {
  line-height: 17px;
  margin-left: 0px;
  color: #444;
  font-size: 13px;
  border-left: 1px solid $main-color;
  padding-left: 15px;
}

.timeline li .timeline-unit .timeline-date {
  line-height: 17px;
  color: $main-color;
  font-size: 14px;
  margin-left: 10px;
  font-weight: normal;
  padding: 2px 6px;
  float: right;
}

.timeline li .timeline-unit h4 {
  line-height: 24px;
  font-size: 15px;
  color: #444;
}

.timeline li .timeline-unit h5 {
  line-height: 18px;
  font-size: 13px;
  color: #999;
}

.timeline li .timeline-unit p {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}

.skills-section {
  width: 270px;
}

.skills {
  margin-bottom: 25px;
  overflow: hidden;
}

.skills li {
  margin-bottom: 15px;
  float: left;
  padding-left: 0px;
}

.skills li h4 {
  width: 140px;
  float: left;
  font-size: 15px;
  color: #444;
}

.skills li .rating {
  width: 123px;
  height: 14px;
  float: left;
}

.skills li .rating > span {
  opacity: 0.3;
  height: 12px;
  width: 12px;
  background-color: #757575;
  display: block;
  float: left;
  margin-right: 1px;
  border: 2px solid #eeeeee;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
