#profile {
  background-color: $main-color;

  @include clearfix;

  .about {
    width: em(490);
    float: left;
    margin: em(30) 0 0 em(20);

    @include breakpoint(767px) {
      width: em(420);
      display: block;
    }

    @include breakpoint(479px) {
      width: em(280);
      margin: em(10) 0 em(15) em(10);
    }
  }

  .photo-inner {
    float: left;
    width: em(192);
    height: em(212);
    padding: em(12) 0 0 em(20);

    background: url(../images/photo-frame.png) no-repeat;

    @include breakpoint(479px) {
      margin: em(12) 0 0 em(41);
    }
  }

  p {
    margin-top: 15px;
    font-size: 16px;
    color: $profile-text-color;
    font-weight: 400;
    line-height: 20px;

    @include breakpoint(479px) {
      text-align: center;
    }
  }

  .personal-info {
    float: left;
    margin-top: em(30);
    width: em(310);
    min-height: em(230);
    margin-left: em(10);
    background: url(../images/vertical-separator.png) no-repeat left top;
    padding: em(20) 0 0 em(20);

    @include breakpoint(959px) {
      margin-right: em(10);
      background: none;
    }

    @include breakpoint(767px) {
      margin-top: 0;
      display: block;
      width: em(420);
    }

    @include breakpoint(479px) {
      width: em(280);
      margin-left: em(10);
      min-height: em(220);
      padding-left: 0;
    }
  }

  .personal-info li {
    font-size: 14px;
    margin-bottom: em(10);
    overflow: hidden;

    @include breakpoint(479px) {
      font-size: 13px;
    }
  }

  .personal-info label {
    color: darken($profile-text-color, 10);
    float: left;
    padding: em(4) em(7);
    font-weight: 600;
    @include border-radius(3);
  }

  .personal-info span {
    float: right;
    width: em(220);
    padding-top: 4px;
    font-weight: 300;
    color: $profile-text-color;
  }
}

.menu {
  height: em(100);
  background-color: #ededed;
}

.tabs {
  height: em(116);
  margin-top: -14px;
  z-index: 100;
  position: absolute;
}

.tabs li {
  float: left;
  height: em(116);
}

.tabs li > a {
  width: em(115);
  padding-top: em(28);
  display: inline-block;

  background-repeat: no-repeat;

  font-size: 16px;
  color: #b9b9b9;
  text-align: center;
  font-weight: 300;
  text-decoration: none;

  @include transition(color .2s ease-in-out, padding .2s ease-in-out);

  &:hover {
    padding-top: em(25);
    color: lighten($main-color, 20);
  }
}

.tabs li.active {
  background: url('../images/tab-hover.png') no-repeat;
}

.tabs li.active a {
  color: $main-color;
}

.tabs li > a > i {
  display: block;
  margin-bottom: 5px;
  font-size: 45px;
  speak: none;
}

.disabled {
  display: none !important;
}
#resume {
  padding: em(40) em(20);
  overflow: hidden;
  background-color: white;

  @include breakpoint(479px) {
    padding: em(10);

    h3 {
      text-align: left;
    }
  }

}

#resume .button {
  width: em(250);
  padding: em(10);
  background-color: $profile-text-color;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: em(20) 0 0 em(-20);
  color: #f7f7f7;
  display: block;
  text-align: center;

  @include border-radius(0px 4px 4px 0px);
  @include transition(background-color .3s ease-in-out);

  &:hover {
    background-color: $main-color;
  }
}

h3.main-heading {
  margin: 0px 2px 20px 0px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 14px;
  color: #333;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  clear: both;
  position: relative;
}

.skills-section, .timeline-section {
  float: left;
}

.timeline-section {
  width: em(490);
  padding-right: em(60);

  @include breakpoint(959px) {
    width: em(380);
    padding-right: em(30);
  }

  @include breakpoint(767px) {
    width: em(420);
    padding-right: em(60);
  }

  @include breakpoint(479px) {
    width: em(280);
  }
}

.timeline {
  margin-bottom: em(30);
}
.timeline ul {
  margin-top: em(20);
  padding-left: em(15);
  list-style-type: circle;

  @include breakpoint(479px) {
    padding: 0;
    list-style: none;
  }
}

.timeline li {
  margin-bottom: 20px;
}

.timeline li .timeline-unit {
  margin-left: 0px;
  padding-left: 15px;
  border-left: 1px solid $main-color;
  color: #444;
  line-height: 17px;
  font-size: 13px;
}

.timeline li .timeline-unit .timeline-date {
  float: right;
  margin-left: 10px;
  padding: 2px 6px;
  line-height: 17px;
  color: $main-color;
  font-size: 14px;
  font-weight: normal;
}

.timeline li .timeline-unit h4 {
  line-height: 24px;
  font-size: 18px;
  color: #444;

  @include breakpoint(479px) {
    font-size: 16px;
  }
}

.timeline li .timeline-unit h5 {
  line-height: 18px;
  font-size: 16px;
  color: #999;

  @include breakpoint(479px) {
    font-size: 14px;
  }
}

.timeline li .timeline-unit p {
  margin-top: 5px;
  color: #666;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;

}

.timeline li .timeline-unit label {
  font-size: 16px;
}

.skills-section {
  width: 270px;
}

.skills {
  margin-bottom: 25px;
  overflow: hidden;
}

.skills li {
  margin-bottom: 15px;
  padding-left: 0px;
}

.skills li h4 {
  font-size: 15px;
  color: #444;
}

.skills li .rating {
  width: em(123);
  height: em(14);
  float: left;
}

.skills li .rating > span {
  height: em(12);
  width: em(12);
  float: left;
  display: block;
  margin-right: 1px;
  opacity: 0.3;
  border: 2px solid #eeeeee;
  background-color: #757575;

  @include border-radius(20px);
}
